<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Web Personal</title>
</head>
<body>
    <h1>Portfolio By Templates in django</h1>
    <p>Information here!!!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias possimus tempore doloremque eaque voluptatem quam atque minima excepturi totam quis!</p>
</body>
</html>